body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
    padding-top: 0;
    padding-inline: 70px;
   justify-content: space-between;
   gap: 50px;
}

.topOfHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topOfHeader ul {
    display: flex;
    gap: 20px;
    
}

.bottomOfHeader {
    display: flex;
    justify-content: space-between;
}

.bottomOfHeader img {
    width: 40%;
}

.bottomOfHeader h1 {
    font-size: 48px;
    color: #F9FAF8;
}

li {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

a {
    margin: 0;
    padding: 0;
    text-decoration:none;
}

.header a {
    color: #E5E7EB;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

.leftBottomHeader, .leftBottomHeader h1, .leftBottomHeader p{
    padding: 0;
    margin: 0;
}

.leftBottomHeader {
    width: 35%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    gap: 20px;
}

.leftBottomHeader button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
}

.randomInformation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 70px;
    margin-top: 20px;
}

.randomInformation h2 {
    color: #1F2937;
    font-size: 30px;
    font-weight: 900;
}

.boxesOfRandomInfo {
    display: flex;
    gap: 50px;
}

.imagesInfo {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 13px;
}

.boxOfRandomInfo {
    width: 150px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.qouteBox{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    font-weight: 100;
    padding-inline: 180px;
    padding-block: 80px;
    margin-top: 60px;
    justify-content: space-around;
}

.qouteBox h3 {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
}

.qouteBox h4 {
    margin: 0;
    font-size: 20px;
    text-align: right;
}

.CTA {
    background-color: #3882F6;
    margin: 50px;
    padding: 60px;
    padding-inline: 100px;
    border-radius: 13px;
    display: flex;
    justify-content: space-between;
}

.CTA h2, .CTA p {
    margin: 0;
    color: white;
}

.CTA button {
    height: 40px;
    width: 120px;
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 9px;
    color: white;
}
